* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    color: #F0F0F0;
    background: linear-gradient(248.44deg, rgba(9, 37, 55, 0) 59.87%, #092437 94.15%), linear-gradient(295.98deg, rgba(8, 60, 67, 0) 57.84%, #083D43 93.73%), #091117;
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.page-header {
    color: #fff;
    margin: 0;
    padding: 30px;
}

main {
    height: 90vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title h1 {
    margin: 0 auto;
    max-width: 600px;
    font-weight: 300;
    font-size: 74px;
    line-height: 79px;
    letter-spacing: -0.03em;
    padding-right: 60px;
}

.title h1 strong {
    font-weight: 500;
}

.details ul {
    display: inline-flex;
    flex-direction: column;
}

.details li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    margin-bottom: 8px;

    background: #48008C;
    color: #FBFAFF;

    font-family: monospace;
    width: fit-content;
}

.details li span {
    height: 16px;
}

.details li a {
    text-decoration: none;
    color: #FBFAFF;
}

.details pre {
    box-sizing: border-box;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 16px;
    isolation: isolate;
    margin-top: 20px;
    height: 40px;

    background: #272727;
    border: 1px solid #4D4D4D;
}

.details pre button {
    display: inline-flex;
    background: none;
    border: 0;
    width: auto;
    opacity: .5;
    cursor: pointer;
}

.details pre button:hover {
    opacity: 1;
}

#copy-message {
    position: absolute;
    font-size: 12px;
    margin: 5px;
    color: #E0E0E0;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        text-align: center;
    }

    .title h1 {
        max-width: none;
        padding: 0;
    }

    .details ul {
        align-items: center;
    }

    .details li {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .title h1 {
        font-size: 60px;
        line-height: 60px;
    }
}